div.index {
	display: flex;
	flex-direction: column;
	border: 0;
	line-height: 150%;
  border-radius: 10px;
  box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
  -webkit-box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
	-moz-box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
	background-color: #fff;
	max-width: 250px;
	
}

div.index:hover {
	box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
	-webkit-box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
	-moz-box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
	background-color: #fff;
}

.link-container {
	display: flex;
  width: 256px;
height: 166px;
align-items: center;
justify-content: center;

}

.imgIndexBadges {
max-width: 80px;
max-height: 25vh;
}

.imgIndexSectors {
	max-width: 100px;
	max-height: 25vh;
	}

.img-container {
	min-height: 15vh
}
